
<aside>
	<div class="border-dotted radius b30">
		<h2>What I see</h2>
		<p>
			Photos by <a href=https://www.instagram.com/nekton4plankton/>@nekton4plankton</a>
			<!-- SnapWidget -->
			<script src="https://snapwidget.com/js/snapwidget.js"></script>
			<iframe src="https://snapwidget.com/embed/214227" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
		</p>
	</div>

	<div class="border-dotted radius b30">
		<h2>What I say</h2>
		<p>
			Tweets by <a href=https://www.twitter.com/nekton4plankton/>@nekton4plankton</a>
<a class="twitter-timeline" data-height="400" data-theme="light" href="https://twitter.com/nekton4plankton"></a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>		</p>
	</div>
</aside>
